* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}


nav {
    background-color: #e2d6c8;
    padding: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #f4f4f4;
}


.header {
    background-color: #e2d6c8;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 200px;
    height: 250px;
    margin-right: 20px;
}

.header-text {
    text-align: left;
}

.header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

.header p {
    font-size: 18px;
}


.section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #e2d6c8;
}

.job, .education {
    margin-bottom: 15px;
}

.job h3, .education h3 {
    font-size: 20px;
    color: #333;
}

.job ul, .education ul {
    list-style-type: disc;
    margin-left: 20px;
}

.skills, .languages {
    list-style-type: none;
    padding-left: 0;
}

.skills li, .languages li {
    background-color: #e2d6c8;
    color: black;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}
